<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <dataConfiguration configProtectionProvider="RSAProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>fen/VbocY5zsWp+JPHJLIGBupYPhd4wkcEiPJlWACVFwx5OpCl8SQt89N54oP2QGaR3DkB2JilXhRJjKy6TpA8IdjeVSg7vOQtW0f00Ry5WRW3evOxCd4vz3ZaE1y35j8R/qI44Pi0euXmVeVw/rjIgZXOO6ZAaxSL8L0nuVFMg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>HJE8ifHzlWoQFf6Zjx3A/vCy8g74GH3Q4tytAWGuN39M3FSSilSbvjhzWf9RGCYG8JXXZ70B7N4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </dataConfiguration>
  <connectionStrings configProtectionProvider="RSAProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YNSWpnNBgZEA6TwqY03yBgvX+ANX4Z5tTxzpTHCTv34XnDO7kFJMYreq7Z+urxzjXq6A7AFQLGHZNyfrZSxvJkxjn5loEXAYhS91yX4d7eQiAsbUBNb0mdjrytMsp47DSY5z79qNiZs1RnP8k3eH9j/kqlv3jkvkNSFnsH57qaU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>F2RNzx/43h6rjpjAjs1daeJFw7Plggb7vH5q4snqtLyBGxg/hXL6Dm1KFLGly9kiCEQ5KOBz1yyyOZOT1zXGloj1lUpOJajf9gz7w9fGExmUxy+Hq9d08GgAeROhVf+Fd8u8hf0nQyPCVRnAvwpHw0K5a1XNJWt4tefdXWpvM2vQyLhLlFF//R2tiXDRV9qWqls1LIS7ysNUlLzF92GvRl6Nix76+vuX43jeRRG19GBgoc6vjY41c32aCrKXD+Xn</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <configProtectedData defaultProvider="RsaProtectedConfigurationProvider">
    <providers>
      <remove name="RsaProtectedConfigurationProvider"/>
      <add name="RSAProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="ems-key" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
